{
    "presets": ["next/babel"],
    "plugins": [
      ["transform-imports", {
        "lucide-react": {
          "transform": "lucide-react/dist/esm/icons/{{member}}",
          "preventFullImport": true
        }
      }]
    ]
  }